.App {
  text-align: center;
}

body {
  background-color: #f5f5f5;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

p {
  margin: 0;
  padding: 0;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

header {
  a {
    color: white;
    font-size: large;
    font-weight: 500;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.searchbox-css {
  height: 10px;
}

.justify-description-css {
  text-align: justify;
  white-space: pre-line;
}

.edit-button-css {
  position: relative;
  top: -30px;
  float: right;
  color: grey;
  cursor: pointer;
  transition: transform .2s;
  /* Animation */
}

.edit-button-css:hover {
  color: #6699ff;
  transform: scale(1.3)
}

.delete-button-css {
  position: relative;
  top: -30px;
  float: right;
  color: grey;
  cursor: pointer;
  transition: transform .2s;
  /* Animation */
}

.delete-button-css:hover {
  color: red;
  transform: scale(1.3)
}

.saved-cards-css {
  color: black;
}

.saved-cards-css:hover {
  cursor: pointer;
  background-color: #e6ffff;
}

.button-focus-css:focus {
  box-shadow: none !important;
}

.footer-css {
  position: fixed;
  padding: 10px 10px 0px 10px;
  bottom: 0;
  width: 100%;
  /* Height of the footer*/
  height: 40px;
  background: grey;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

svg {
  cursor: pointer;
}

.detailPro:hover {
  border: 1px solid orange;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  padding: .2rem;
  outline: 1px solid orange;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
  /* Độ rộng của thanh cuộn */
  height: 8px;
  /* Chiều cao của thanh cuộn ngang */
}

::-webkit-scrollbar-thumb {
  background: #888;
  /* Màu của thanh cuộn */
  border-radius: 10px;
  /* Bo góc cho thanh cuộn */
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
  /* Màu của thanh cuộn khi hover */
}

::-webkit-scrollbar-track {
  background: white;
  /* Màu nền của thanh cuộn */
  border-radius: 10px;
  /* Bo góc cho nền thanh cuộn */
}

.accountView p {
  padding: 10px 20px;
  background-color: lightgrey;
  margin: .3rem .3rem;
  border-radius: .5rem;
  cursor: pointer;
}

.accountView p:hover {
  padding: 10px 20px;
  background-color: rgb(248, 153, 122);
  color: white;
}

.file-upload-container {
  width: 100px;
  /* Chiều rộng của hình vuông */
  height: 100px;
  /* Chiều cao của hình vuông */
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px dashed #ccc;
  /* Đường viền kiểu dấu gạch */
  border-radius: 10px;
  /* Đường viền tròn */
  cursor: pointer;
  position: relative;
  overflow: hidden;
  background-color: #f8f8f8;
}

.file-upload-container input[type="file"] {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

.file-upload-container:hover {
  border-color: #aaa;
}

.file-upload-text {
  color: #666;
  text-align: center;
  font-size: 14px;
  pointer-events: none;
  /* Không thể nhấp vào văn bản */
}

.inputAddNewProduct {
  border: 1px solid grey
}

.inputAddNewProduct:focus {
  background-color: #ffcdb6;
}

.cateAdmin:hover {
  background-color: #ffcdb6;
  cursor: pointer;
}

.slideshow-container {
  width: 100%;
  /* Chiều rộng của slideshow */
  height: fit-content;
  /* Chiều cao của slideshow */
  overflow: hidden;
  position: relative;
}

.slideshow-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* Đảm bảo hình ảnh phù hợp với kích thước container */
  border-radius: 10px;
  /* Tùy chọn: Thêm viền tròn nếu muốn */
  transition: opacity 1s ease-in-out;
  /* Hiệu ứng chuyển đổi mượt mà */
}

.imgProductList {
  border: 1px solid grey;
  margin-right: .5rem;
  padding: .2rem;
  border-radius: .5rem;
}

.imgProductList:hover {
  background-color: #bdd6ff;
}

.manageleft {
  width: 30%;
  border-right: 1px solid grey;
  padding: .5rem 1rem;
}

.manageleft p{
  padding: .5rem;
  width: 100%;
  background-color: lightgray;
  margin: .5rem 0;
  border-radius: .5rem;
  cursor: pointer;
}

.manageleft p:hover{
  background-color: #a19a8c;
}

.manageright {
  width: 68%;
  padding: .5rem 2rem;
}

.manageData {
  background-color: white;
  padding: 1rem;
  margin: 1rem .5rem;
  border-radius: .5rem;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}